In [1]:
import pandas as pd

In [2]:
games = pd.read_csv('games.csv')

In [32]:
games

         gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0    2018090600  09/06/2018        20:20:00          PHI             ATL     1
1    2018090901  09/09/2018        13:00:00          CLE             PIT     1
2    2018090902  09/09/2018        13:00:00          IND             CIN     1
3    2018090903  09/09/2018        13:00:00          MIA             TEN     1
4    2018090900  09/09/2018        13:00:00          BAL             BUF     1
..          ...         ...             ...          ...             ...   ...
248  2018123013  12/30/2018        16:25:00          DEN             LAC    17
249  2018123015  12/30/2018        16:25:00          SEA             ARI    17
250  2018123014  12/30/2018        16:25:00           LA              SF    17
251  2018122200  12/22/2018        16:30:00          TEN             WAS    16
252  2018122201  12/22/2018        20:20:00          LAC             BAL    16

[253 rows x 6 columns]

In [5]:
players = pd.read_csv('players.csv')

In [6]:
players.head()

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell

In [8]:
plays = pd.read_csv('plays.csv')

In [38]:
plays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [43]:
week1 = pd.read_csv('week1.csv')

In [44]:
week1.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH

In [14]:
week2 = pd.read_csv('week2.csv')

In [16]:
week3 = pd.read_csv('week3.csv')

In [17]:
week4 = pd.read_csv('week4.csv')

In [18]:
week5 = pd.read_csv('week5.csv')

In [19]:
week6 = pd.read_csv('week6.csv')

In [20]:
week7 = pd.read_csv('week7.csv')

In [21]:
week8 = pd.read_csv('week8.csv')

In [22]:
week9 = pd.read_csv('week9.csv')

In [23]:
week10 = pd.read_csv('week10.csv')

In [24]:
week11 = pd.read_csv('week11.csv')

In [25]:
week12 = pd.read_csv('week12.csv')

In [26]:
week13 = pd.read_csv('week13.csv')

In [27]:
week14 = pd.read_csv('week14.csv')

In [28]:
week15 = pd.read_csv('week15.csv')

In [29]:
week16 = pd.read_csv('week16.csv')

In [30]:
week17 = pd.read_csv('week17.csv')