In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import prep_season
pd.set_option('display.max_columns', None)

Prep_Season.py Loaded Successfully

In [2]:
df = prep_season.clean_season()

Dataframe Ready For Use

In [3]:
df

,time,x,y,s,a,dis,o,dir,pass_stopped,nflId,displayName,jerseyNumber,position,frameId,gameId,playId,playDirection,route,week,height,weight,birthDate,collegeName,age,time_since_last_x,force_per_second,is_home
0,2018-09-07T01:07:19.700Z,96.10,27.82,0.99,1.14,0.10,327.40,311.41,0,310.0,Matt Ryan,2.0,QB,52,2018090600,75,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1010,9.089024,0
1,2018-09-07T01:09:14.400Z,54.77,29.86,0.86,1.16,0.09,338.33,58.53,1,310.0,Matt Ryan,2.0,QB,48,2018090600,146,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1047,7.895516,0
2,2018-09-07T01:09:55.200Z,55.38,27.42,0.86,0.04,0.09,181.68,180.92,1,310.0,Matt Ryan,2.0,QB,47,2018090600,168,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1047,7.895516,0
3,2018-09-07T01:10:40.700Z,56.59,25.89,2.66,1.92,0.25,271.87,304.04,0,310.0,Matt Ryan,2.0,QB,62,2018090600,190,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.0940,24.421015,0
4,2018-09-07T01:12:42.000Z,18.59,25.33,2.19,0.98,0.22,40.17,54.47,1,310.0,Matt Ryan,2.0,QB,46,2018090600,256,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1005,20.106024,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238414,2018-12-31T00:02:23.599Z,70.69,19.51,2.69,2.42,0.27,197.62,163.56,0,2552576.0,Sean Mannion,14.0,QB,47,2018123014,3534,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1004,26.289759,1
238415,2018-12-31T00:04:43.799Z,55.71,31.13,1.32,1.32,0.14,25.40,74.26,1,2552576.0,Sean Mannion,14.0,QB,47,2018123014,3603,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1061,12.900551,1
238416,2018-12-31T00:27:31.400Z,77.27,40.95,3.45,3.72,0.35,340.24,359.55,0,2552576.0,Sean Mannion,14.0,QB,52,2018123014,4088,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1014,33.717349,1
238417,2018-12-31T00:30:17.000Z,72.34,7.60,5.41,2.16,0.53,248.18,227.11,0,2561469.0,Darious Williams,31.0,CB,42,2018123014,4181,0,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0,0.0980,42.801719,1
238418,2018-12-31T00:30:58.700Z,80.11,10.95,3.38,2.20,0.33,345.74,28.87,0,2561469.0,Darious Williams,31.0,CB,43,2018123014,4206,0,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0,0.0976,26.741185,1

In [4]:
df['force_per_second'] = (((df.weight * 0.45359237)/ (9.8)) * (df.s / 1.094)).round(2)
df

,time,x,y,s,a,dis,o,dir,pass_stopped,nflId,displayName,jerseyNumber,position,frameId,gameId,playId,playDirection,route,week,height,weight,birthDate,collegeName,age,time_since_last_x,force_per_second,is_home
0,2018-09-07T01:07:19.700Z,96.10,27.82,0.99,1.14,0.10,327.40,311.41,0,310.0,Matt Ryan,2.0,QB,52,2018090600,75,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1010,9.09,0
1,2018-09-07T01:09:14.400Z,54.77,29.86,0.86,1.16,0.09,338.33,58.53,1,310.0,Matt Ryan,2.0,QB,48,2018090600,146,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1047,7.90,0
2,2018-09-07T01:09:55.200Z,55.38,27.42,0.86,0.04,0.09,181.68,180.92,1,310.0,Matt Ryan,2.0,QB,47,2018090600,168,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1047,7.90,0
3,2018-09-07T01:10:40.700Z,56.59,25.89,2.66,1.92,0.25,271.87,304.04,0,310.0,Matt Ryan,2.0,QB,62,2018090600,190,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.0940,24.42,0
4,2018-09-07T01:12:42.000Z,18.59,25.33,2.19,0.98,0.22,40.17,54.47,1,310.0,Matt Ryan,2.0,QB,46,2018090600,256,1,NONE,1,76,217,1985-05-17,Boston College,33.0,0.1005,20.11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238414,2018-12-31T00:02:23.599Z,70.69,19.51,2.69,2.42,0.27,197.62,163.56,0,2552576.0,Sean Mannion,14.0,QB,47,2018123014,3534,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1004,26.29,1
238415,2018-12-31T00:04:43.799Z,55.71,31.13,1.32,1.32,0.14,25.40,74.26,1,2552576.0,Sean Mannion,14.0,QB,47,2018123014,3603,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1061,12.90,1
238416,2018-12-31T00:27:31.400Z,77.27,40.95,3.45,3.72,0.35,340.24,359.55,0,2552576.0,Sean Mannion,14.0,QB,52,2018123014,4088,1,NONE,17,78,231,1992-04-25,Oregon State,26.0,0.1014,33.72,1
238417,2018-12-31T00:30:17.000Z,72.34,7.60,5.41,2.16,0.53,248.18,227.11,0,2561469.0,Darious Williams,31.0,CB,42,2018123014,4181,0,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0,0.0980,42.80,1
238418,2018-12-31T00:30:58.700Z,80.11,10.95,3.38,2.20,0.33,345.74,28.87,0,2561469.0,Darious Williams,31.0,CB,43,2018123014,4206,0,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0,0.0976,26.74,1

In [5]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler

# Turn off warnings
import warnings
warnings.filterwarnings("ignore")

# split_scale
# import split_scale

# libraries needed for preparing the data:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
import sklearn.preprocessing


##### This is the key function that returns 6 dataframes #####
def train_validate_test(df):
    '''
    this function takes in a dataframe and splits it into 3 samples, 
    a test, which is 30% of the entire dataframe, 
    a validate, which is 28% of the entire dataframe,
    and a train, which is 42% of the entire dataframe. 
    It then splits each of the 3 samples into a dataframe with independent variables
    and a series with the dependent, or target variable. 
    The function returns 3 dataframes and 3 series:
    X_train (df) & y_train (series), X_validate & y_validate, X_test & y_test. 
    '''
    # split df into test (30%) and train_validate (70%)
    train_validate, test = train_test_split(df, test_size=.3, random_state=123, stratify = df.pass_stopped)

    # split train_validate off into train (60% of 70% = 42%) and validate (40% of 70% = 28%)
    train, validate = train_test_split(train_validate, test_size=.4, random_state=123, stratify = train_validate.pass_stopped)

        
    # split train into X (dataframe, drop target) & y (series, keep target only)
    X_train = train.drop(columns= ['time','pass_stopped', 'nflId', 'displayName',
                                  'jerseyNumber', 'frameId', 'gameId', 'playId',
                                  'route', 'week', 'birthDate'])
    X_validate = validate.drop(columns= ['time','pass_stopped', 'nflId', 'displayName',
                                  'jerseyNumber', 'frameId', 'gameId', 'playId',
                                  'route', 'week', 'birthDate'])
    X_test = test.drop(columns= ['time','pass_stopped', 'nflId', 'displayName',
                                  'jerseyNumber', 'frameId', 'gameId', 'playId',
                                  'route', 'week', 'birthDate'])

    y_train = train[['pass_stopped']]
    y_validate = validate[['pass_stopped']]
    y_test = test[['pass_stopped']]
    return X_train, y_train, X_validate, y_validate, X_test, y_test


def min_max_scale(X_train, X_validate, X_test):
    '''
    this function takes in 3 dataframes with the same columns, 
    a list of numeric column names (because the scaler can only work with numeric columns),
    and fits a min-max scaler to the first dataframe and transforms all
    3 dataframes using that scaler. 
    it returns 3 dataframes with the same column names and scaled values. 
    '''
    # create the scaler object and fit it to X_train (i.e. identify min and max)
    # if copy = false, inplace row normalization happens and avoids a copy (if the input is already a numpy array).
    X_train = X_train.drop(columns = {'collegeName', 'position'})
    X_validate = X_validate.drop(columns = {'collegeName', 'position'})
    X_test = X_test.drop(columns = {'collegeName', 'position'})
    scaler = MinMaxScaler(copy = True).fit(X_train)

    X_train_scaled = scaler.transform(X_train)
    X_validate_scaled = scaler.transform(X_validate)
    X_test_scaled = scaler.transform(X_test)
    X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns.values).set_index([X_train.index.values])
    X_validate_scaled = pd.DataFrame(X_validate_scaled, columns = X_validate.columns.values).set_index([X_validate.index.values])
    X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns.values).set_index([X_test.index.values])

    
    return X_train_scaled, X_validate_scaled, X_test_scaled

In [6]:
X_train, y_train, X_validate, y_validate, X_test, y_test = train_validate_test(df)

In [7]:
X_train_scaled, X_validate_scaled, X_test_scaled = min_max_scale(X_train, X_validate, X_test)