In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import prep_plays
import wrangle_plays_data
from scipy import stats
pd.set_option('display.max_columns', None)

Acquire.py Loaded Successfully
Prep.py Loaded Successfully
Wrangle.py Loaded Successfully

In [2]:
plays = prep_plays.prep_plays_data()
plays.head()

,playDescription,quarter,down,yardsToGo,team_by_comp_yds,defendersInTheBox,numberOfPassRushers,QB_under_pressure,gameClock,absoluteYardlineNumber,epa,pass_stopped,playResult,RB,TE,WR,DL,LB,DB,EMPTY,I_FORM,JUMBO,PISTOL,SHOTGUN,SINGLEBACK,WILDCAT,four_three,three_four,nickel,dime
0,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,3,7.0,4.0,0.0,15:00:00,90.0,0.261827,0,10,2,1,2,4,2,5,0,1,0,0,0,0,0,0,0,1,0
1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,3,7.0,4.0,0.0,13:10:00,49.0,-0.372360,1,0,1,1,3,4,2,5,0,0,0,0,0,1,0,0,0,1,0
2,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,3,6.0,4.0,0.0,13:05:00,49.0,-0.702779,1,0,2,1,2,4,2,5,0,0,0,0,1,0,0,0,0,1,0
3,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,3,6.0,5.0,1.0,13:01:00,49.0,3.047530,0,33,1,1,3,4,1,6,0,0,0,0,1,0,0,0,0,0,1
4,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,3,8.0,6.0,0.0,10:59:00,11.0,-0.842272,1,0,2,3,0,6,3,2,0,0,0,0,1,0,0,0,0,0,0

In [3]:
import prep_season

Prep_Season.py Loaded Successfully

In [4]:
df = prep_season.clean_season()

Dataframe Ready For Use

In [5]:
df

,time,x,y,s,a,dis,o,dir,pass_stopped,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route,week,height,weight,birthDate,collegeName,age
0,2018-09-07T01:07:19.700Z,96.10,27.82,0.99,1.14,0.10,327.40,311.41,0,310.0,Matt Ryan,2.0,QB,52,away,2018090600,75,left,NONE,1,76,217,1985-05-17,Boston College,33.0
1,2018-09-07T01:09:14.400Z,54.77,29.86,0.86,1.16,0.09,338.33,58.53,1,310.0,Matt Ryan,2.0,QB,48,away,2018090600,146,left,NONE,1,76,217,1985-05-17,Boston College,33.0
2,2018-09-07T01:09:55.200Z,55.38,27.42,0.86,0.04,0.09,181.68,180.92,1,310.0,Matt Ryan,2.0,QB,47,away,2018090600,168,left,NONE,1,76,217,1985-05-17,Boston College,33.0
3,2018-09-07T01:10:40.700Z,56.59,25.89,2.66,1.92,0.25,271.87,304.04,0,310.0,Matt Ryan,2.0,QB,62,away,2018090600,190,left,NONE,1,76,217,1985-05-17,Boston College,33.0
4,2018-09-07T01:12:42.000Z,18.59,25.33,2.19,0.98,0.22,40.17,54.47,1,310.0,Matt Ryan,2.0,QB,46,away,2018090600,256,left,NONE,1,76,217,1985-05-17,Boston College,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238414,2018-12-31T00:02:23.599Z,70.69,19.51,2.69,2.42,0.27,197.62,163.56,0,2552576.0,Sean Mannion,14.0,QB,47,home,2018123014,3534,left,NONE,17,78,231,1992-04-25,Oregon State,26.0
238415,2018-12-31T00:04:43.799Z,55.71,31.13,1.32,1.32,0.14,25.40,74.26,1,2552576.0,Sean Mannion,14.0,QB,47,home,2018123014,3603,left,NONE,17,78,231,1992-04-25,Oregon State,26.0
238416,2018-12-31T00:27:31.400Z,77.27,40.95,3.45,3.72,0.35,340.24,359.55,0,2552576.0,Sean Mannion,14.0,QB,52,home,2018123014,4088,left,NONE,17,78,231,1992-04-25,Oregon State,26.0
238417,2018-12-31T00:30:17.000Z,72.34,7.60,5.41,2.16,0.53,248.18,227.11,0,2561469.0,Darious Williams,31.0,CB,42,home,2018123014,4181,right,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0
238418,2018-12-31T00:30:58.700Z,80.11,10.95,3.38,2.20,0.33,345.74,28.87,0,2561469.0,Darious Williams,31.0,CB,43,home,2018123014,4206,right,NONE,17,69,187,1993-03-15,Alabama-Birmingham,25.0

In [6]:
df.isnull().sum()

time             0
x                0
y                0
s                0
a                0
dis              0
o                0
dir              0
pass_stopped     0
nflId            0
displayName      0
jerseyNumber     0
position         0
frameId          0
team             0
gameId           0
playId           0
playDirection    0
route            0
week             0
height           0
weight           0
birthDate        0
collegeName      0
age              0
dtype: int64

In [7]:
df.shape

(238385, 25)

In [8]:
df.height.value_counts()

73    40280
72    37496
71    34726
74    27431
75    26512
70    19551
76    18652
77    13789
69     8513
78     5287
68     3311
79     1369
66      633
67      603
80      232
Name: height, dtype: int64

In [9]:
df.shape

(238385, 25)