In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import acquire_plays_data
import prep_plays
import wrangle_plays_data
import re
plt.rc("figure", figsize=(12, 7))
plt.rc("font", size=14)

Acquire.py Loaded Successfully
Prep.py Loaded Successfully
Wrangle.py Loaded Successfully

In [ ]:
df = pd.read_csv('players.csv')

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.height.value_counts()

In [ ]:
example = '5-10'

In [ ]:
feet = int(re.findall(r'(\d+)-(\d+)', example)[0][0])
feet

In [ ]:
inches = int(re.findall(r'(\d+)-(\d+)', example)[0][1])
inches

### Converts the heights from feet-inches into inches

In [ ]:
def conv_height(value):
    if len(re.findall(r'(\d+)-(\d+)', value)) > 0:
        feet = int(re.findall(r'(\d+)-(\d+)', value)[0][0])
        inches = int(re.findall(r'(\d+)-(\d+)', value)[0][1])
        return (feet * 12) + inches
    else:
        return value

In [ ]:
df['height'] = df.height.apply(conv_height)

In [ ]:
df.head()

In [ ]:
df.birthDate.value_counts()

### Converting birthdate to datetime

In [ ]:
df.birthDate = pd.to_datetime(df.birthDate)

In [ ]:
# Creating a age column that takes the first date and subtracts the birthdate as a
df['age'] = (pd.to_datetime('09/06/2018') - df.birthDate).astype('<m8[Y]')

In [ ]:
df.head()

In [ ]:
def prep_players():
    '''
    This function acquires the players csv and prepares
    it to merge with other csv's
    '''
    # Acquire the players csv
    df= pd.read_csv('players.csv')
    # Convert the birthdate to datetime to get rid of different date formats
    df.birthDate = pd.to_datetime(df.birthDate)
    # Creating a age column that takes the start date of the 2018 season and subtracts the birthdate
    df['age'] = (pd.to_datetime('09/06/2018') - df.birthDate).astype('<m8[Y]')
    # Function that converts heights
    def conv_height(value):
        if len(re.findall(r'(\d+)-(\d+)', value)) > 0:
            feet = int(re.findall(r'(\d+)-(\d+)', value)[0][0])
            inches = int(re.findall(r'(\d+)-(\d+)', value)[0][1])
            return (feet * 12) + inches
        else:
            return value
    # Changing height column to equal just inches
    df['height'] = df.height.apply(conv_height)
    return df

In [ ]:
df= prep_players()

In [ ]:
df.head()

In [2]:
import prep_season

In [3]:
df2 = prep_season.prep_players()

In [4]:
df2.head()

,nflId,height,weight,birthDate,collegeName,position,displayName,age
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant,27.0
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford,29.0
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen,26.0
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones,23.0
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell,25.0